Source: libwatchdog-chipkit
Section: libraries
Priority: extra
XBSC-Group: Time
XBSC-Family: pic32
XBSC-Subgroup: Timers
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libwatchdog-chipkit
Architecture: all
Provides: Watchdog.h
Depends: chipkit
Description: Watchdog library for chipkit

